*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #d0e4ae;
}

nav{
    border-radius: 2px;
    width: 100vw;
    text-align: center;
    justify-content: center;
}

.menu{
    display: flex;
    max-width: fit-content;
}

.content{
    background-color: #ffffff;
}

img{
    width: 20%;
    height: 15%;
    border-radius: 100px;
}

p{
    font-style: italic;
    font-weight:normal;
}

.profileImg{
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    justify-content: center;
    width: auto;
}

.profileImg img{
    margin-top: 45px;
    text-align: center;
    height: 100%;
}

.profileImg h2{
    font-family: cursive;
    font-weight: bolder;
}

.profileImg p{
    font-family: cursive;
    font-size: large;
}

.coder{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.coderContent{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #ffffff;

}

.skills{
    display: flex;
    width: 25%;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.skills h2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: cursive;
    font-weight: bolder;
    
}

.imgTitle{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.intro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, #26704b, #194b32);
}

.intro h1{
    font-family: cursive;
    margin-top: 40px;
    color: #ffffff;
    font-weight: bold;
}

.intro p{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    margin-top: 12px;
    text-align: justify;
    width: 95vw;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    font-family: cursive;

}

.footerContent{
    display: flex;
    flex-direction: row;
    gap: 10vw;
    margin-top: 5vw;
    justify-content: center;
    margin-right: 100px;
}

.logoFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
    align-items: center;
}

.logoFooter p{
    font-family: cursive;
    font-size: large;
}

.about{
    justify-content: center;
}

.about h2{
    white-space: nowrap;
    font-family: cursive;
    font-weight: bold;
}

.about p{
    font-family: cursive;
    font-size: large;
}

.follow h2{
    font-family: cursive;
    font-weight: bold;
}

.follow p{
    white-space: nowrap;
    font-family: cursive;
    font-size: large;
}

.solutions h2{
    font-family: cursive;
    font-weight: bold;
}

.solutions p{
    font-family: cursive;
    font-size: large;
}

.coder{
    display: flex;
    margin-right: 15%;
}
